/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* font-sizes */
  --fs-300: 3.5rem;
  --fs-200: 2.5rem;
  --fs-100: 0.9375rem;

  /* font-families */
  --ff-sans-normal: 'Lexend Deca', sans-serif;
  --ff-cursive: 'Big Shoulders Display', cursive;

  /* page sizes */
  --ss-mobile: 23.4375rem;
  --ss-desktop: 57.5rem;

   /* colors */
   --clr-bright: hsl(31, 77%, 52%);
   --clr-dark-cyan: hsl(184, 100%, 22%);
   --clr-darker-cyan: hsl(179, 100%, 13%);

   --clr-white: hsla(0, 0%, 100%, 0.75);
   --clr-gray: hsl(0, 0%, 95%);
}
