.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--ss-mobile);
  background: var(--clr-white);
  margin: 2rem auto;
  border-radius: 10px;

  @media (min-width: 90em) {
    flex-direction: row;
    max-width: var(--ss-desktop);
  }
}