.card {
  display: flex;
  flex-flow: column nowrap;
  padding: 4rem;
  color: var(--clr-white);

  &:first-child {
    border-radius: 10px 10px 0 0;
  }

  &:last-child {
    border-radius: 0 0 10px 10px;
  }

  > img {
    max-width: 4.5rem;
  }

  h2 {
    font-family: var(--ff-cursive);
    font-size: var(--fs-200);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-block: 2rem;
  }

  p {
    line-height: 2;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  &.sedan {
    background: var(--clr-bright);
  }

  &.suv {
    background: var(--clr-dark-cyan);
  }

  &.luxury {
    background: var(--clr-darker-cyan);
  }

  @media (min-width: 90em) {
    &:first-child {
      border-radius: 10px 0 0 10px;
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
    }

    padding: 5rem;

    > img {
      max-width: 6rem;
    }

    h2 {
      font-size: var(--fs-300);
    }

    p {
      margin-bottom: 6rem;
    }
  }
}